<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="well well-lg one_box">
        Let's Connect!
        <p></p>
        <p id="smallish">I'm making a career switch from teaching high school spanish to the tech industry.
           I am thrilled to have the chance to experience the intersection of spoken languages
            and computer programming languages. Currently, I write Ruby and JS, but am learning more and
            expanding my knowledge base every day. I thrive on collaboraiton, pair programming, and just
          chatting about the world of development. Please don't hesitate to reach out!</p>
          <p></p>
          <p></p>
          <p><span class="glyphicon glyphicon-envelope"></span> markevan100@gmail.com</p>
          <p><span class="glyphicon glyphicon-cloud"></span> <a href="github.com/markevan100" id="word">github.com/markevan100</a></p>
          <p><span class="glyphicon glyphicon-phone"></span> (240) 498 - 6179</p>
      </div>
    </div>
  </div>
</div>
