<div class="button_wrapper">
  <div class="well well-lg each_box">
    <%= link_to "See My Projects", projects_index_path, id: "word" %>
  </div>
  <div class="well well-lg each_box">
    <a href="https://medium.com/@markevan100" id="word">Read a Blog</a>
  </div>
  <div class="well well-lg each_box">
    <%= link_to "Connect", welcome_connect_path, id: "word" %>
  </div>

</div>
