<div class="button_wrapper">
  <div class="well well-lg this_box">
    <%= link_to "Rails/Ruby Projects", projects_rails_path, id: "word" %>
  </div>
  <div class="well well-lg this_box">
    <%= link_to "JS/HTML/CSS Projects", projects_js_path, id: "word" %>
  </div>

</div>
