<div class="button_wrapper">
  <div class="well well-lg each_box">
    <a href="https://grade-converter-earthtreks.herokuapp.com/" id="word">Grade Converter</a>
    <p><i>Production</i></p>
    <p></p>
    <p id="smaller">An interactive site built in JavaScript with HTML/CSS styling. This app
    is in production and was built to help local climbers compare grades for routes at
    area gyms and local crags. <a href="https://www.sierra.com/blog/climbing/rock-climbing-grades-explained/" id="word"><u>For more information on climbing grades.</u></a> This site is hosted on Heroku, which
    does not naturally host JS/HTML/CSS sites. For more information on how I hosted the site there with the PHP buildpack, please read my <a href="https://medium.com/@markevan100/variety-making-things-you-can-see-while-studying-backend-development-16dd705bf31c" id="word"><u>blog.</u></a></p>
  </div>
  <div class="well well-lg each_box">
    <a href="https://github.com/markevan100/react-burger-builder" id="word">Burger Orders</a>
    <p><i>Development</i></p>
    <p></p>
    <p id="smaller">A React SPA with a Firebase backend. This app connects to
      the REST API through Axios Http calls and routes pages with React Router. </p>
  </div>
  <div class="well well-lg each_box">
    <a href="https://github.com/markevan100/tictactoe_react" id="word">React: tic-tac-toe</a>
    <p><i>Development</i></p>
    <p></p>
    <p id="smaller">My first React site, using a react tutorial. </p>
  </div>
  <div class="well well-lg each_box">
    <a href="https://github.com/markevan100/react-todo-traversy" id="word">React: ToDo</a>
    <p><i>Development</i></p>
    <p></p>
    <p id="smaller">My second React site, using a different tutorial. </p>
  </div>


</div>
