<div class="button_wrapper">
  <div class="well well-lg each_box">
    <a href="https://climb-kent.herokuapp.com/" id="word">Climbing Team</a>
    <p><i>Production</i></p>
    <p></p>
    <p id="smaller">A site designed for the coaches of the Kent Denver Rock Climbing Team. This site was
    built on Rails. It integrats three different databases and allows coaches to
  update and record daily practices, track the roster, and add important contacts.</p>
  </div>
  <div class="well well-lg each_box">
    <a href="https://polar-island-64116.herokuapp.com/" id="word">The Message Butler</a>
    <p><i>Development</i></p>
    <p></p>
    <p id="smaller">Chatroom site built on Rails. This site integrates WebSockets with ActionCable to
    enable realtime updates. For projection, the site uses Redis. Read my <a href="https://medium.com/@markevan100/setting-up-redis-on-a-rails-app-for-deployment-through-heroku-1b278d58f8ed" id="word"><u>blog</u></a> for more information about
    how I integrated Redis. </p>
  </div>
  <div class="well well-lg each_box">
    <a href="https://github.com/markevan100/digest" id="word">The Digest Digest</a>
    <p><i>Development</i></p>
    <p></p>
    <p id="smaller">My largest project to date, this development stage app was independently commisioned.
    Currently, the app features multiple databases, CRUD capabilities, and styled post and index pages. </p>
  </div>
  <div class="well well-lg each_box">
    <a href="https://wallstreet-bully.herokuapp.com" id="word">Wallstreet Bully</a>
    <p><i>Production</i></p>
    <p></p>
    <p id="smaller">A stock tracker app on Rails that uses Devise for user/session management and Ajax
    for quick updating of pages without full page reload. This app also employs search capability both through
    and external gem and internally with users. </p>
  </div>


</div>
