<div id="header" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= link_to "mark modak", root_path, id: "logo" %></h1>

    <p class="lead"> <%= link_to "software engineer", projects_index_path, id: "logo" %>
      | <%= link_to "learner", welcome_connect_path, id: "logo" %> |
       <a href="https://www.kentdenver.org/about/directory?utf8=%E2%9C%93&const_search_group_ids=&const_search_role_ids=1&const_search_keyword=&const_search_first_name=Mark&const_search_last_name=Modak" id="logo">teacher</a>
       | <a href="https://www.instagram.com/markmodak/" id="logo">sweater</a></p>
  </div>
</div>
